<html>
    <head>
        <title>Clever Pepper</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/header.png" />
        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '4730668517039828');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" 
            src="https://www.facebook.com/tr?id=4730668517039828&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Meta Pixel Code -->
        <meta name="facebook-domain-verification" content="uplnru81sveb9575fzl9ke0u055u53" />
    </head>
    <body>
        <h1>We are under construction :D</h1>
        <h2>testing...</h2>
        <script>
            fbq('track', 'ViewContent');
        </script>
    </body>
</html> 